.about {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.homeContainer{
  align-items: center;
  text-align: center;
}

h6 {
  font-size: 18px;
}