.container{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.pager {
    color: #FCBB15;
    margin: 0%;
    align-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}