.base-container-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 23px;
  text-transform: uppercase;

  color: #0D9CA4;

  margin-bottom: 45px;
}

.base-container-divider {
  border-color: #0D9CA4; 
  margin-bottom: 20px;
 }
