#list-user-table-header {
    background: #FCBB15;
    color: azure;
    text-align: center;

}

td {
    text-align: center;
}

h1{
    padding-top: 25px;
    padding-bottom: 25px;
}

#add-user-row{
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

#add-circle-img{
    padding-left: 750px;
    padding-right: 0%;
}

#add-new-user-text-col{
    padding-right: 49px;
}

#pagination{
    margin-left: 30%;
    margin-right: auto;
    padding-top: 15px;
}