h6 {
    color: #0D9CA4;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.adButton {
    border: rgb(202, 200, 200);
    border-style: solid;
    border-width: 1px;
}

.downloadButton {
    border: rgb(202, 200, 200);
    border-style: solid;
    border-width: 1px;
}