.filter-container {
  margin-top: 50px;
  width: 100%;
}

.filter {
  align-items: left;
  align-content: left;
  height: 100%;
  background-color: #EEEAEB;
  border-radius: 10px;
  padding-right:40px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0%;
}

.button {
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 100%;
}

.filter-row {
  margin-bottom: 2%;
  margin-top: 2%;
}

