.form {
    align-items: left;
    align-content: left;
    text-align: left;
    height: 100%;
    padding-right:0px;
    padding-left:0px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0%;
  }

  h5 {
      color: #0D9CA4;
      font-weight: bold;
  }

.session {
    text-align: left;
    align-items: left;
}

.general {
    text-align: left;
    align-items: left;
    margin-bottom: 20px ;
}