.registerContainer {
    margin: 0 auto;
    width: 50%;
    align-items: center;
    text-align: center;
    align-self: center;
    background-color: #EEEAEB;
    padding: 50px;
}

.registerRow {
    margin: 20px;
}

.registerButton{
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    margin-left: 50%;
    margin-top: 40px;
}